{% extends 'base.html.twig' %}

{% block title %}Edit Avance{% endblock %}

{% block body %}
    <h1>Edit Avance</h1>

    {{ include('avance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_avance_index', {'idR': idR }) }}">back to list</a>

    {{ include('avance/_delete_form.html.twig') }}
{% endblock %}
