{% extends 'base.html.twig' %}

{% block title %}Edit Agent{% endblock %}

{% block body %}
    <h1>Edit Agent</h1>

    {{ include('agent/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_agent_index') }}">back to list</a>

    {{ include('agent/_delete_form.html.twig') }}
{% endblock %}
