{% extends 'base.html.twig' %}

{% block title %}Edit CollectionOffre{% endblock %}

{% block body %}
    <h1>Edit CollectionOffre</h1>

    {{ include('collection_offre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_collection_offre_index') }}">back to list</a>

    {{ include('collection_offre/_delete_form.html.twig') }}
{% endblock %}
