{% extends 'base.html.twig' %}

{% block title %}Edit CollectionOffre{% endblock %}

{% block body %}
    <h1>Modifier Collection d'offre</h1>

    {{ include('collection_offre/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_collection_offre_index') }}"> retour à la liste</a>

    {{ include('collection_offre/_delete_form.html.twig') }}
{% endblock %}
