{% extends 'base.html.twig' %}

{% block title %}Nouvelle Collection d'ffre{% endblock %}

{% block body %}
    <h1 class="text-center mt-12 mb-8 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-xl lg:text-xl dark:text-white"> Ajouter <span class="text-blue-600 dark:text-blue-500">une Catégorie</span></h1>

    {{ include('collection_offre/_form.html.twig') }}

    <a href="{{ path('app_collection_offre_index') }}" class="flex items-center justify-center mt-4 mb-12 text-center font-medium text-blue-600 dark:text-blue-500 hover:underline ml-auto">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-1"><path fill-rule="evenodd" d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z" clip-rule="evenodd" /></svg>
        retour à la liste des Catégories
    </a>
{% endblock %}

