<form method="post" action="{{ path('app_offre_categorie_delete', {'id': offre_categorie.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre_categorie.id) }}">
    <button class="btn">Supprimer</button>
</form>
