@tailwind base;
@tailwind components;
@tailwind utilities;


.pagination {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 2rem;
    width: 100%;
  }
  
  .pagination a {
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    color: #4a5568;
  }
  
  .pagination .current {
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    background-color: #0055e8;
    color: #fff;
  }
  
  .pagination a:hover {
    background-color: #003de446;
  }
  
  .pagination .disabled {
    opacity: 0.5;
    pointer-events: none;
  }