{% extends 'base.html.twig' %}

{% block title %}Modifier Message{% endblock %}

{% block body %}
    <h1>Modifier Message</h1>

    {{ include('message/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_message_index') }}">retour à la liste des messages</a>

    {{ include('message/_delete_form.html.twig') }}
{% endblock %}
