{% extends 'base.html.twig' %}

{% block title %}Nouvelle Destination{% endblock %}

{% block body %}
    <h1>Créer une nouvelle destination</h1>

    {{ include('destination/_form.html.twig') }}

    <a href="{{ path('app_destination_index') }}">retour à la liste des destinations</a>
{% endblock %}
