<form method="post" action="{{ path('app_commercial_delete', {'id': commercial.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commercial.id) }}">
    <button class="btn">Delete</button>
</form>
